# Python/Django
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3
*.db
media/
staticfiles/
.env
.env.local
.env.prod
venv/

# Node/React
nyscClearance_frontend/node_modules/
**/node_modules/
**/dist/
**/build/
*.map

# IDE/OS
.idea/
.vscode/
.DS_Store
email_send_log.csv
email_list.xlsx
email_campaign.sqlite3
email_campaign.sqlite3-*
email_campaign_cron.log
email_suppression_list.txt
__pycache__/
*.py[cod]
